.table-cell-1 {
    display: table-cell;
    padding-left: 20px;
  }

  .table-cell-2 {
    display: table-cell;
    padding-left: 80px;
  }

  .table-1{
    display: table; 
    display: flex;
    align-items: center;
  }